.app {
  background-color: #282c34;
  min-height: 100vh;
  color: white;
  font-size: calc(10px + 1.5vmin);
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: .5rem 2rem;
  background-color: #282c34;
  position: sticky;
  top: 0;
  z-index: 5;
}

.logo {
  height: 4rem;
  margin-right: 1rem;
  margin-left: -.35rem;
}

.title {
  flex-grow: 1;
}

.link {
  color: #09d3ac;
}

.main {
  padding: 2rem 2rem 4rem;
  display: flex;
  flex-direction: row;
}

.leftside {
  flex-grow: 1;
  margin-right: 2rem;
}

.rightside {
  width: 350px;
}

@media screen and (max-width: 600px) {
  .app {
    font-size: calc(10px + 2vmin);
  }

  .header {
    background-color: #23262d;
  }
}