.table {
  width: 100%;
  background-color: #323740;
  border-radius: .5rem;

  td, th {
    padding: .85rem 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border: 0;
  }
}

.thead {
  font-weight: 500;
  color: #09d3ac;
  border-bottom: 2px solid #DFE1E6;
  text-align: left;
}