.filters {
  width: 100%;
  background-color: #09d3ac;
  border-radius: .5rem;
  padding: .85rem 1rem;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: .5rem;
}

.rowName {
  width: 40%;
  flex-shrink: 0;
}

.rowControl {
  width: 60%;
}